@charset "utf-8";
* {
	padding: 0;
	margin: 0;
}

body, div, span, ul, li, ol, dl, dt, dd, em, i, h1, h2, h3, h4, h5, h6, p, input, a, img, button {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
	font-weight:normal;
	font-family: "Microsoft Yahei", Tahoma;
	font-size: 16px;
	}

em, i {
    font-style: normal;
}

input[type="button"] {
    -webkit-appearance: none;
}

ul, li {
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
}
.logo a {
    color: #fff;
    text-decoration: none;
}

body {
	background: url(../images/index_bg.jpg) center top no-repeat;
}
.main {
	width:1200px;
	margin: 0 auto;
}
.reg {
	height: 40px;
	line-height: 40px;
	background-color: rgba(56,114,186,1.00);
	margin-top: 40px;
	color: rgba(253,253,253,1.00);
	border-radius: 5px;
	float: right;
	padding: 0 8px;
}
.reg a {
	color: rgba(253,253,253,1.00);
	padding: 0 8px;
}
.logo_txt {
	width: 1200px;
	margin-top: 130px;
	float: left;
}
.menu_box {
	z-index: 1;
	position: absolute;
	top: 529px;
	width: 100%;
	height: 140px;
	background-color: rgba(31,106,199,0.78);	
}
.menu li {
	width: 240px;
	height: 140px;
	float: left;
	font-size: 24px;
	line-height: 140px;
}
.menu li:hover {
	background-color: rgba(0,79,138,0.60);
}
.menu li a {
	opacity: 0.75;
	font-size: 26px;
	color: #FFFFFF;
	display: block;
	padding-left: 100px;
}
.menu li a:hover {
	opacity: 1.00;
}
.menu li a.bg1 {
	background: url(../images/icon_2.png) 40px center no-repeat;
}
.menu li a.bg2 {
	background: url(../images/icon_3.png) 30px center no-repeat;
}
.menu li a.bg3 {
	background: url(../images/icon_4.png) 30px center no-repeat;
}
.menu li a.bg4 {
	background: url(../images/icon_5.png) 30px center no-repeat;
}
.menu li a.bg5 {
	background: url(../images/icon_6.png) 15px center no-repeat;
	padding-left: 75px;
}
.foot_box{
	z-index: 2;
	position: absolute;
	top: 699px;
	width: 100%;
	color: #837f7f;
}
.foot {
	padding-bottom: 30px;
	text-align: center;
	font-size: 16px;
	line-height: 200%;
}
