
.classify{
    position: relative;
    width:100%;
    overflow: hidden;
    background-color: #eee;
}
.classify-auto{
    width:1200px;
    margin:0 auto;

}
.center-left{
    width: 180px;
    position: absolute;
    top:0;
    bottom:0;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    float:left;
    background-color: #fff;
}
.left_lists{
    height: auto;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
}
.l-lists-big{
    height: 30px;
    line-height: 30px;
    margin: 12px 0 12px;
    /* margin-top:12px;
     margin-bottom:12px;*/
    padding-left:20px;
    font-size: 14px;
    font-family: SimSun;
    color: #999999;
}
.arrow_img{
    width: 13px;
    height: 13px;
    vertical-align: text-top;
    margin-right: 13px;
}
.small-list{
    padding: 0 50px;
    margin:9px 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: SimSun;
    color: #666;
}
.list-select{
    background-color: #e3f0f8;
}
