body {margin:0; border:0; font-family:Arial,ו; font-size:9pt}
td {font-family:Arial,ו; font-size:9pt}
input,select,textarea {font-size:9pt; font-family:Arial,ו; line-height:1.4;}
.line   {color: blue}
.sline  {color: red; font-weight: bold}
.skin   {visibility: hidden;}
.error  {color: #ff0000}
