<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bizwink.bbs.persistence.BBSMapper">
    <cache />
    <resultMap id="BaseResultMap" type="com.bizwink.bbs.domain.BBS" >
        <id column="threadid" property="threadid" jdbcType="INTEGER" />
        <result column="forumid" property="forumid" jdbcType="INTEGER" />
        <result column="answerid" property="answerid" jdbcType="INTEGER" />
    </resultMap>

</mapper>