td{font-size: 9pt; color:#636363; line-height=12pt}
.moduleTitle {
	 FONT-SIZE: 12pt;  color:#015DBA; TEXT-DECORATION: none;font-family: "ºÚÌå";
}
.smallTitle {
	 FONT-SIZE: 10.5pt;  color:#015DBA; TEXT-DECORATION: none; font-weight: bold;
}