* {
    padding: 0;
    margin: 0;
}

body, div, span, ul, li, ol, dl, dt, dd, em, i, h1, h2, h3, h4, h5, h6, p, input, a, img, button {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
	font-weight:normal;
    font-family: "Microsoft Yahei";
	font-size:12px;	
	}
.location{ width:100%; float:left; padding-top:10px;}
.location_1{ width:20%; float:left;}

.button_top{ width:707px; float:right;}
.button_top ul li{ float:left; padding-left:14px;}
.button_bg_1{ background:url(../images/bg_mad_1.jpg) no-repeat; width:49px; height:27px; cursor:pointer;}
.button_bg_2{ background:url(../images/bg_mad_2.jpg) no-repeat; width:104px; height:27px; cursor:pointer;}
.button_bg_3{ background:url(../images/bg_mad_3.jpg) no-repeat; width:79px; height:27px; cursor:pointer;}

.tab_list tr td{ padding:10px 3px; line-height:22px;}
.tab_list tr td a{ color:#0762af;}
.tab_list tr:hover{ background-color:#f4f4f4;}

.txt_1{ width:52px; height:25px; border:1px solid #cccccc; text-align:center; margin:0px 5px;}
.btn_go{ width:40px; height:27px; border:1px solid #cccccc; background-color:#FFF; cursor:pointer; color:#085799; font-size:16px;}

.sear_txt_1{ width:25%; height:33px; background-color:#FFF; border:1px solid #cccccc; font-family: "Microsoft Yahei"}
.sear_btn{ width:68px; height:33px; background-color:#0762af; color:#FFF; font-family: "Microsoft Yahei"}

.sear_gj{ color:#0762af;}